doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="style.css")
        title WebDev
    body
        .wrapper
            include ./pugs/header.pug
            include ./pugs/main.pug
            include ./pugs/footer.pug