section.about
    .container
        h2.about__title._title About Us
        h3.about__subtitle._subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br/> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!
        .about__row
            .about__elem 
                .about__image
                    .about__contain
                        img(src="/img/about_internet.png", alt="internet")
                h2.about__row-title  Awesome Icons
                p.about__row-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            .about__elem 
                .about__image
                    .about__contain
                        img(src="/img/about_between.png", alt="between")
                h2.about__row-title One Page
                p.about__row-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            .about__elem 
                .about__image
                    .about__contain
                        img(src="/img/about_brain.png", alt="brain")
                h2.about__row-title Fully Responsive
                p.about__row-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor