section.blog
    .container
        h2.blog__title._title Blog
        h3.blog__subtitle._subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br/>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        .blog__row
            .blog__elem
                .blog__image
                    img(src="/img/blog_1.jpg", alt="")
                .blog__body
                    .blog__body-title SEO Quis Vestibulum
                    ul.blog__info
                        li.blog__date 14.0702017
                        li.blog__table Development
                    p.blog__text Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
            .blog__elem
                .blog__image
                    img(src="/img/blog_2.jpg", alt="")
                .blog__body
                    .blog__body-title SEO Quis Vestibulum
                    ul.blog__info
                        li.blog__date 14.0702017
                        li.blog__table Development
                    p.blog__text Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
            .blog__elem
                .blog__image
                    img(src="/img/blog_3.jpg", alt="")
                .blog__body
                    .blog__body-title SEO Quis Vestibulum
                    ul.blog__info
                        li.blog__date 14.0702017
                        li.blog__table Development
                    p.blog__text Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
        .blog__button
            button  MORE VIEW