section.contact
    .container
        h2.contact__title._title Contact Us
        h3.contact__subtitle._subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br/> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!
        .contact__row
            .contact__elem 
                .contact__item
                    .contact__image
                        .contact__circle
                            .contact__limiting
                                img(src="/img/contact_icon-1.png", alt="")
                    p.contact__text Nobinagar savar,Dhaka Bangladesh
            .contact__elem 
                .contact__item
                    .contact__image
                        .contact__circle
                            .contact__limiting
                                img(src="/img/contact_icon-2.png", alt="")
                    p.contact__text +8801743331996
                    p.contact__text +8801743331996
            .contact__elem 
                .contact__item
                    .contact__image
                        .contact__circle
                            .contact__limiting
                                img(src="/img/contact_icon-3.png", alt="")
                    p.contact__text quickmasud@gmail.com
                    p.contact__text quickmasud@gmail.com
        form.contact__form.form
            .form__name
                input(type="text", name ="" placeholder = "Your Name")
            .form__email
                input(type="email", name="" placeholder = "Your Email")
            .form__textarea
                textarea(name="", cols="", rows="" placeholder = "Write Massage")
            .form__button
                input(type="button", value="SEND" style = "text-transform:uppercase;")