header.header
    .header__container
        .header__row
            .header__logo
                img(src="/img/header_logo.png", alt="LOGO")
            nav.header__flex
                .header__elem Home
                .header__elem About
                .header__elem Servicing
                .header__elem Portfolio
                .header__elem Blog
                .header__elem Contact us
                .header__search
                    .header__contain
                        a
                            img(src="https://img.icons8.com/pastel-glyph/64/000000/search--v2.png", alt="alt")