section.price
    .container
        h2.price__title._title Pricing Plan
        h3.price__subtitle._subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br/> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!
        .price__row
            .price__elem 
                .price__item
                    .price__sublabel  Free Trail
                    .price__label
                        span.price__text#price 00
                        span.price__freq per month
                    ul.price__list
                        li 30 Free Trail
                        li 5 Free Projects
                        li PHP 5 Enabled
                        li 24/7 Suports
                    button.price__btn Order Now
            .price__elem 
                .price__item
                    .price__sublabel  Basic
                    .price__label
                        span.price__text#price 50
                        span.price__freq per month
                    ul.price__list
                        li 30 Free Trail
                        li 5 Free Projects
                        li PHP 5 Enabled
                        li 24/7 Suports
                    button.price__btn Order Now
            .price__elem 
                .price__item
                    .price__sublabel  Ultimates
                    .price__label
                        span.price__text#price 99
                        span.price__freq per month
                    ul.price__list
                        li 30 Free Trail
                        li 5 Free Projects
                        li PHP 5 Enabled
                        li 24/7 Suports
                    button.price__btn Order Now