section.services
    .container
        h2.services__title._title Our Services
        h3.services__subtitle._subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br/> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!
        .services__row
            .services__item
                .services__elem
                    .services__image
                        .services__contain
                            img(src="/img/services_phone.png", alt="Phone")
                            img(src="/img/services_phone-white.png", alt="Phone")
                    .services__row-title Research
                    .services__row-subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button.services__btn READ MORE
            .services__item
                .services__elem
                    .services__image
                        .services__contain
                            img(src="/img/services_phone.png", alt="Phone")
                            img(src="/img/services_phone-white.png", alt="Phone")
                    .services__row-title Portfolio
                    .services__row-subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button.services__btn READ MORE
            .services__item
                .services__elem
                    .services__image
                        .services__contain
                            img(src="/img/services_phone.png", alt="Phone")
                            img(src="/img/services_phone-white.png", alt="Phone")
                    .services__row-title Support
                    .services__row-subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button.services__btn READ MORE
            .services__item
                .services__elem
                    .services__image
                        .services__contain
                            img(src="/img/services_phone.png", alt="Phone")
                            img(src="/img/services_phone-white.png", alt="Phone")
                    .services__row-title Documentation
                    .services__row-subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button.services__btn READ MORE
            .services__item
                .services__elem
                    .services__image
                        .services__contain
                            img(src="/img/services_phone.png", alt="Phone")
                            img(src="/img/services_phone-white.png", alt="Phone")
                    .services__row-title Development
                    .services__row-subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button.services__btn READ MORE
            .services__item
                .services__elem
                    .services__image
                        .services__contain
                            img(src="/img/services_phone.png", alt="Phone")
                            img(src="/img/services_phone-white.png", alt="Phone")
                    .services__row-title Design
                    .services__row-subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button.services__btn READ MORE