section.team
    .container
        h2.team__title._title Our Team Member
        h3.team__subtitle._subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br/> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!
        .team__row
            .team__elem 
                .team__item
                    .team__image
                        .team__contain
                            img(src="/img/team_1.jpg", alt="")
                    .team__label John Doe
                    .team__sublabel General Manager
                    .team__social-row
                        .team__sign
                            img(src="/img/dribble.svg", alt="")
                        .team__sign
                            img(src="/img/telegram.svg", alt="")
                        .team__sign
                            img(src="/img/twitter.svg", alt="")
                        .team__sign
                            img(src="/img/facebook.svg", alt="")
            .team__elem 
                .team__item
                    .team__image
                        .team__contain
                            img(src="/img/team_2.jpg", alt="")
                    .team__label Alexa Biru
                    .team__sublabel Office Director
                    .team__social-row
                        .team__sign
                            img(src="/img/dribble.svg", alt="")
                        .team__sign
                            img(src="/img/telegram.svg", alt="")
                        .team__sign
                            img(src="/img/twitter.svg", alt="")
                        .team__sign
                            img(src="/img/facebook.svg", alt="")
            .team__elem 
                .team__item
                    .team__image
                        .team__contain
                            img(src="/img/team_3.jpg", alt="")
                    .team__label Ronobir sing
                    .team__sublabel Admin
                    .team__social-row
                        .team__sign
                            img(src="/img/dribble.svg", alt="")
                        .team__sign
                            img(src="/img/telegram.svg", alt="")
                        .team__sign
                            img(src="/img/twitter.svg", alt="")
                        .team__sign
                            img(src="/img/facebook.svg", alt="")
        .team__slideDot