section.title
    .title__container
        .title__down
            img(src="/img/scroll_down.svg", alt="scroll down")
        .title__block
            .title__titles
                h1.title__title Web development project
                h2.title__subtitle Very suitable to support all web development projects
                .title__buttons
                    button.title__btn(type="submit") OUR SERVICES
                    button.title__btn.title__btn-second(type="submit") HERE IS NOW