section.works
    .container
        h2.works__title._title Latest Works
        h3.works__subtitle._subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br/>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        nav.works__nav.nav
            .nav__row
                .nav__elem ALL
                .nav__elem WEB DESIGN
                .nav__elem UI/UX DESIGN
                .nav__elem MOCKUPS
        .works__row
            .works__elem
                .works__item
                    .works__image
                        .works__contain
                            img(src="/img/works_item-0.jpg", alt="ALT")
                    .works__over.over
                        .over__title Vape Toob
                        .over__subtitle make'd create
            .works__elem
                .works__item
                    .works__image
                        .works__contain
                            img(src="/img/works_item-1.jpg", alt="ALT")
                    .works__over.over
                        .over__title One day pass
                        .over__subtitle enjoy living
            .works__elem
                .works__item
                    .works__image
                        .works__contain
                            img(src="/img/works_item-2.jpg", alt="ALT")
                    .works__over.over
                        .over__title Modal T-shirts
                        .over__subtitle ux/ui
            .works__elem
                .works__item
                    .works__image
                        .works__contain
                            img(src="/img/works_item-3.jpg", alt="ALT")
                    .works__over.over
                        .over__title Bubble for cognac
                        .over__subtitle drink for health
            .works__elem
                .works__item
                    .works__image
                        .works__contain
                            img(src="/img/works_item-4.jpg", alt="ALT")
                    .works__over.over
                        .over__title Redan liquid
                        .over__subtitle top grade
            .works__elem
                .works__item
                    .works__image
                        .works__contain
                            img(src="/img/works_item-5.jpg", alt="ALT")
                    .works__over.over
                        .over__title Clear bag
                        .over__subtitle wear your chicken wings there

        .works__button
            button  VIEW ALL